.copy-btn {
  border-radius: 5px;
  width: fit-content;
  background: pink;
  padding: 5px;
}

.left {
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
}

.right {
  padding: 15px;
}

.btn-group {
  min-height: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.tree-container {
  height: calc(100vh - 118px);
  overflow: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.tree::v-deep {
  .active {
    background: #c6c6c6;
  }
}

.node-label {
  height: 40px;
  display: flex;
  align-items: center;
}

.context-menu {
  background: #303030;

  &::v-deep .v-icon {
    vertical-align: text-bottom;
  }

  div {
    padding: 5px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #030303;
    }
  }
}
